<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>
		<link rel="stylesheet" href="/src/components/Header/Header.module.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/src/scripts/Header.js"></script>
	</head>
	<body>
		<header class="header">
			<div class="contaner">
				<div class="header__body">
					<a href="/public/index.html" class="header__logo">
						<img src="/src/images/logo-desk.png" />
					</a>
					<div class="header__burger">
						<span></span>
					</div>
					<nav class="header__menu">
						<ul class="header__list">
							<li>
								<a href="../src/pages/login.html" class="header__link">LogIn</a>
							</li>
							<div class="spliter">|</div>
							<li>
								<a href="../src/pages/Singin.html" class="header__link"
									>SingIn</a
								>
							</li>
							<li>
								<a href="/src/pages/SelectProject.html" class="header__link"
									>Project</a
								>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</body>
</html>
